@model IEnumerable<Arellano_Brandon_Exam1.Models.ArellanoB>

@{
    ViewData["Title"] = "Index";
}

<h1>Crear Persona</h1>

<p>
    <a asp-action="Create" type=" button" class="btn btn-success">Crear Persona</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.esHombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaNacimiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.esHombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaNacimiento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.nombre">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.nombre">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.nombre">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
